html, body {
  height: 100%;
  margin:0;
}
.flexRow{
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
}

.buttonGrid {
  height:30%;
}

.buttonHeight{
  height:50%;
}